
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8 col-md-offset-2">
      <p><br><br><br><br>
        Ruby Brunton is a New Mexico-born, New Zealand-raised writer, editor, poet, and performer who lives between Brooklyn and Mexico City.
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fab fa-twitter"></i>&nbsp;&nbsp;
        <a href="https://twitter.com/rubybrunton?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@rubybrunton</a>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="far fa-envelope"></i>&nbsp;&nbsp;
        <a href="mailto:rubybrunton@gmail.com?Subject=Hello%20again" target="_top">rubybrunton@gmail.com</a>
      </p>
    </div>
  </div>
</div>
