<div class="container-fluid" class="main-wrapper">
  <div class="row">
    <div class="col-3 navBar">
        <h1><br>&nbsp;&nbsp;<a href="/home" [class.internal]="!home" [class.selected]="home">Ruby Brunton</a></h1>
        <h6>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/writer" [class.internal]="!writer" [class.selected]="writer">Writer</a><br><br>
          <!--<a href="/editor" [class.internal]="!editor" [class.selected]="editor">Editor</a><br><br>-->
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/poet" [class.internal]="!poet" [class.selected]="poet">Poet</a><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/performer" [class.internal]="!performer" [class.selected]="performer">Performer</a><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about" [class.internal]="!about" [class.selected]="about">About</a><br><br>
          <!--<a href="/resume" [class.internal]="!resume" [class.selected]="resume">Resume</a><br><br>-->
          <!--<a href="/contact" [class.internal]="!contact" [class.selected]="contact">Contact</a><br><br>-->
        </h6>
    </div>
    <div class="col-9 main">
      <div *ngIf="home">
        <div class="img-responsive">
          <img src="../assets/images/redRoof.jpg" style="width:80%;" class="">
        </div>
      </div>
      <app-writer *ngIf="writer"></app-writer>
      <!--<app-editor *ngIf="editor"></app-editor>-->
      <app-poet *ngIf="poet"></app-poet>
      <app-performer *ngIf="performer"></app-performer>
      <app-about *ngIf="about"></app-about>
      <!--<app-resume *ngIf="resume"></app-resume>-->
      <!--<app-contact *ngIf="contact"></app-contact>-->
      <app-page-not-found *ngIf="notFound"></app-page-not-found>
    </div>
  </div>
  <!--
    <div class="starter-template">

        <h1>{{title}}</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
  -->
</div>
