<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8 col-md-offset-2">
-->
      <h5>Essays</h5>
      <hr>
      <p>
        Five Writers who Blur the Boundary between Poetry and Essay, <a href="https://lithub.com/5-writers-who-blur-the-boundary-between-poetry-and-essay/">Lit Hub</a><br><br>
        The New Bad Girls of Contemporary Literature, <a href="https://lithub.com/the-new-bad-girls-of-contemporary-literature/">Lit Hub</a><br><br>
        All my Ghosts: On Love Letters and Online Confessors, <a href="http://reallifemag.com/all-my-ghosts/">Real Life</a><br><br>
        Infatuation is a Gateway Drug to Writing: On Chris Kraus’ <i>I Love Dick</i>, <a href="https://hazlitt.net/feature/infatuation-gateway-drug-writing-interview-chris-kraus-and-sarah-gubbins">Hazlitt</a><br><br>
        Coming of Age in Modern Dystopia: On the contemporary Bildungsroman, <a href="https://thenewinquiry.com/coming-of-age-in-modern-dystopia/">The New Inquiry</a><br><br>
        Raymond Briggs & Me; or The Banality of Evil for Children, <a href="https://catapult.co/stories/raymond-briggs-and-me-or-the-banality-of-evil-for-children">Catapult</a><br><br>
        Talk Therapy: On the role of Tech in Mental Healthcare, <a href="http://reallifemag.com/talk-therapy/">Real Life</a><br><br>
      </p>

      <h5>Reviews</h5>
      <hr>
      <p>
        Break.up by Joanna Walsh, <a href="https://www.bookforum.com/review/19990">Bookforum</a><br><br>
        Memorium to Identity by Kathy Acker, <a href="https://tinhouse.com/product/summer-reading-24/">Tin House</a><br><br>
        Being Here Is Everything: The Life of Paula Modersohn-Becker by Marie Darrieussecq, <a href="https://hyperallergic.com/411938/a-new-biography-of-paula-modersohn-becker-reveals-an-artist-committed-to-painting-women/">Hyperallergic</a><br><br>
        All the King’s Horses by Michele Bernstein, <a href="https://lestemag.bigcartel.com/product/leste-issue-4">Leste</a><br><br>
      </p>

      <h5>Interviews</h5>
      <hr>
      <p>
        Chase Berggrun, <a href="https://bombmagazine.org/articles/chase-berggrun/">BOMB</a><br><br>
        Mathieu Lindon, <a href="https://bookforum.com/interview/19198">Bookforum</a><br><br>
        It’s OK for a Poem to be Funny: An Interview with Tommy Pico, <a href="https://lithub.com/its-ok-for-a-poem-to-be-funny-an-interview-with-tommy-pico/">Lit Hub</a><br><br>
        Leila Adu, <a href="http://www.maskmagazine.com/the-conflict-issue/work/leila-adu">Mask Magazine</a><br><br>
        Tommy Pico, <a href="http://www.maskmagazine.com/the-dropout-issue/work/tommy-pico">Mask Magazine</a><br><br>
      </p>
<!--
    </div>
  </div>
</div>
-->
