<h5>Poetry</h5>
<hr>
<p>
  <i>A List of things Men Have Asked Me to Do in Order to Secure Their Affections</i>  at <a href="http://metatron.press/omega/poetry/ruby-brunton-a-list/">Omega</a>
  <br><br>
  <i>Problems</i>, <i>In Red</i> and <i>Chopped</i> at <a href="http://www.hobartpulp.com/web_features/three-poems--59">Hobart</a>
  <br><br>
  <i>Three Poems</i> at <a href="http://thefelt.org/issues/1/ruby_brunton.htm">The Felt</a>
  <br><br>
  <i>Performance Anxiety: Two Poems</i> at <a href="https://queenmobs.com/2016/03/performance-anxiety-two-poems-ruby-brunton/">Queen Mob’s Teahouse</a>
  <br><br>
  <i>Carousel</i> at <a href="http://thefanzine.com/carousel/">Fanzine</a>
  <br><br>
  <i>Mother, I’d Like</i>; A Chapbook at <a href="https://ghostcitypress.com/2016-summer-microchap-series/mother-id-like">Ghost City Press</a>
</p>
