<h5>Performances</h5>
<hr>
<p>
  <a href="https://www.instagram.com/p/BiI29RplNc2/?hl=en&taken-by=armoramour">La Añoranza</a>, a performance collaboration with Mabe Fratti
  <br>&ensp;First performed at <i>Gran Salon de Napoles</i>, Mexico City, April 2018
  <br><br>
  <a href="https://www.youtube.com/watch?v=xQ4YVWXa74c">Pasos</a>, a performance collaboration with Maricarmen Lojo
  <br>&ensp;First performed at <i>Espacios de Posibilidades</i>, Mexico City, February 2018
  <br><br>
  <a href="https://www.youtube.com/watch?feature=youtu.be&v=VIsOtBbpsks&app=desktop">Attached</a>, a solo performance
  <br>&ensp;First performed at <i>Blue Rose Presents</i>, Brooklyn, NY, November 2017
  <br><br>
  <a href="https://www.instagram.com/p/2FDY_bS9a2/">Bodies de Sangre</a>, a performance collaboration with Angeli
  <br>&ensp;First performed at <i>Thrust</i>, Brooklyn, NY, April 2015
  <br><br>
  <a href="https://www.instagram.com/p/xx1Gfqy9VB/">Sybil</a>, a performance collaboration with Angeli
  <br>&ensp;First performed at <i>Thrust</i>, Brooklyn, NY, January 2015
  <br>
</p>
